.authorAddDiv
{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-color:aliceblue;
    background-color: ghostwhite;
    text-decoration: none;

}

.authorAddDiv:hover
{
    background-color: #cacaca;
}